<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.mapper.MPermissionExpandMapper">
  <resultMap id="BaseResultMap" type="spring.model.MPermissionExpand">
    <id column="permission_id" jdbcType="BIGINT" property="permissionId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="permission_desc" jdbcType="VARCHAR" property="permissionDesc" />
    <result column="permission_key" jdbcType="VARCHAR" property="permissionKey" />
    <result column="permission_url" jdbcType="VARCHAR" property="permissionUrl" />
    <result column="permission_type" jdbcType="INTEGER" property="permissionType" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    permission_id, parent_id, user_type, permission_name, permission_desc, permission_key, 
    permission_url, permission_type, status, create_date
  </sql>
  <select id="selectByExample" parameterType="spring.model.MPermissionExpandExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from m_permission_expand
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_permission_expand
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from m_permission_expand
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="spring.model.MPermissionExpandExample">
    delete from m_permission_expand
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="spring.model.MPermissionExpand">
    insert into m_permission_expand (permission_id, parent_id, user_type, 
      permission_name, permission_desc, permission_key, 
      permission_url, permission_type, status, 
      create_date)
    values (#{permissionId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{userType,jdbcType=INTEGER}, 
      #{permissionName,jdbcType=VARCHAR}, #{permissionDesc,jdbcType=VARCHAR}, #{permissionKey,jdbcType=VARCHAR}, 
      #{permissionUrl,jdbcType=VARCHAR}, #{permissionType,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="spring.model.MPermissionExpand">
    insert into m_permission_expand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="permissionDesc != null">
        permission_desc,
      </if>
      <if test="permissionKey != null">
        permission_key,
      </if>
      <if test="permissionUrl != null">
        permission_url,
      </if>
      <if test="permissionType != null">
        permission_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        #{permissionId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionDesc != null">
        #{permissionDesc,jdbcType=VARCHAR},
      </if>
      <if test="permissionKey != null">
        #{permissionKey,jdbcType=VARCHAR},
      </if>
      <if test="permissionUrl != null">
        #{permissionUrl,jdbcType=VARCHAR},
      </if>
      <if test="permissionType != null">
        #{permissionType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="spring.model.MPermissionExpandExample" resultType="java.lang.Long">
    select count(*) from m_permission_expand
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update m_permission_expand
    <set>
      <if test="record.permissionId != null">
        permission_id = #{record.permissionId,jdbcType=BIGINT},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=INTEGER},
      </if>
      <if test="record.permissionName != null">
        permission_name = #{record.permissionName,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionDesc != null">
        permission_desc = #{record.permissionDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionKey != null">
        permission_key = #{record.permissionKey,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionUrl != null">
        permission_url = #{record.permissionUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionType != null">
        permission_type = #{record.permissionType,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update m_permission_expand
    set permission_id = #{record.permissionId,jdbcType=BIGINT},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      user_type = #{record.userType,jdbcType=INTEGER},
      permission_name = #{record.permissionName,jdbcType=VARCHAR},
      permission_desc = #{record.permissionDesc,jdbcType=VARCHAR},
      permission_key = #{record.permissionKey,jdbcType=VARCHAR},
      permission_url = #{record.permissionUrl,jdbcType=VARCHAR},
      permission_type = #{record.permissionType,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="spring.model.MPermissionExpand">
    update m_permission_expand
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionDesc != null">
        permission_desc = #{permissionDesc,jdbcType=VARCHAR},
      </if>
      <if test="permissionKey != null">
        permission_key = #{permissionKey,jdbcType=VARCHAR},
      </if>
      <if test="permissionUrl != null">
        permission_url = #{permissionUrl,jdbcType=VARCHAR},
      </if>
      <if test="permissionType != null">
        permission_type = #{permissionType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="spring.model.MPermissionExpand">
    update m_permission_expand
    set parent_id = #{parentId,jdbcType=BIGINT},
      user_type = #{userType,jdbcType=INTEGER},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_desc = #{permissionDesc,jdbcType=VARCHAR},
      permission_key = #{permissionKey,jdbcType=VARCHAR},
      permission_url = #{permissionUrl,jdbcType=VARCHAR},
      permission_type = #{permissionType,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </update>
</mapper>